# Entorno virtual
VFLORA/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Base de datos local
*.db
data/

# Entorno
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
