<div id="bandeau-installer-pwa" class="bandeau-installer-pwa" hidden>
    <div class="bandeau-installer-pwa-contenu">
        <p class="bandeau-installer-pwa-titre">{{ t.installer_pwa_titre }}</p>
        <p class="bandeau-installer-pwa-texte" id="bandeau-installer-pwa-ios">{{ t.installer_pwa_ios }}</p>
        <p class="bandeau-installer-pwa-texte" id="bandeau-installer-pwa-android" hidden>{{ t.installer_pwa_android }}</p>
        <div class="bandeau-installer-pwa-actions">
            <button type="button" class="btn btn-primaire btn-petit" id="btn-installer-pwa" hidden>
                {{ t.installer_pwa_bouton }}
            </button>
            <button type="button" class="btn btn-secondaire btn-petit" id="btn-fermer-installer-pwa">
                {{ t.installer_pwa_fermer }}
            </button>
        </div>
    </div>
</div>
